body {
    font-family: "Tahoma"
}

#header {
    text-align: center;
}

div.gallery {
    margin: 5px;
    border: 1px solid #fff;
    float: left;
    /* width: 180px; */
    width: 25%;
}

div.gallery:hover {
    border: 1px solid #6c757d;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

#main-content {
    position: relative; 
    margin-top: 25px;
    width: 70%;
    left: 15%; 
    right: 15%; 
    text-align: center;
    /* border: 1px solid green; */
}

#bookImage {
    height: 150px;
    width: 100px;
}
